body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #4e2349;
  color: #fff;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  min-height: 100vh;
  flex-direction: column;
  width: 100%;
}

h1 {
  text-align: center;
  width: 100%;
  font-size: 2em;
}

#agents-container {
  margin: 20px auto;
  width: 80%;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

button {
  display: block;
  width: 90%;
  padding: 10px;
  margin: 20px auto;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2em;
}

button:hover {
  background-color: #0056b3;
}

.personnage {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 5px;
  text-align: center;
  border-radius: 8px;
  background-color: #6c3483;
  width: calc(20% - 10px);
  box-sizing: border-box;
  font-size: 1.2em;
}

.personnage img {
  border-radius: 50%;
}

.personnage.flasheur {
  background-color: yellow;
}

.personnage.best-agent {
  background-color: lightgreen;
}

.personnage.flasheur.best-agent {
  background-color: orange;
}

#conseils-container {
  margin: 60px;
  width: 90%;

  display: flex;

  justify-content: space-between;
  align-content: flex-start;
}

.section {
  margin: 40px; /* Espace entre les sections */
  width: 300px !important;
}

.section-content {
  display: flex;
  flex-direction: column; /* S'assurer que les conseils sont empilés verticalement */
  gap: 30px;
  width: 380px;
}

.section h3 {
  margin: 0 0 10px 0;
  padding: 10px;
  background-color: #5a2d68;
  border-radius: 8px;
  width: 100%;
  text-align: center;
  font-size: 1.5em;
}

.conseil {
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 8px;
  background-color: #5a2d68;
  box-sizing: border-box;
  font-size: 1.2em;
  margin: 0 0 20px 0; /* Espacement vertical entre les conseils */
  width: 100%;
}

.conseil h4 {
  margin-top: 0;
  font-size: 1.4em;
}

.conseil p {
  margin: 5px;
  font-size: 1.8em; /* Réduire la taille de police pour éviter le débordement */
}
