body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #4e2349;
  color: #fff;
}

h1 {
  text-align: center;
}

#agents-container {
  margin: 20px auto;
  width: 80%;
  max-width: 1200px; /* Increased max-width to accommodate more characters */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 20px auto;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #0056b3;
}

.personnage {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 5px;
  text-align: center;
  border-radius: 8px;
  background-color: #6c3483;
  width: calc(20% - 10px); /* Adjusted width for more items per row */
  box-sizing: border-box; /* Include padding and border in the width */
}

.personnage img {
  border-radius: 50%;
}

.personnage.flasheur {
  background-color: yellow; /* Couleur pour les flasheurs */
}

.personnage.best-agent {
  background-color: lightgreen; /* Couleur pour les meilleurs agents */
}

.personnage.flasheur.best-agent {
  background-color: orange; /* Couleur différente si c'est à la fois un flasheur et un meilleur agent */
}

#conseils-container {
  margin: 20px auto;
  width: 80%;
  max-width: 600px;
  display: flex;
  flex-wrap: wrap;
}

.conseil {
  border: 1px solid #ccc;
  padding: 15px;
  margin: 10px 0;
  border-radius: 8px;
  background-color: #5a2d68;
}

.conseil h4 {
  margin-top: 0;
}

.conseil p {
  margin: 5px 0;
}
