body {
  background-color: #994d53;
  width: 700px;
  height: 600px;
  padding: 10px;
  margin: 0; /* Supprime les marges par défaut */
  box-sizing: border-box; /* Inclut les bordures et le padding dans la taille totale */
}

#personnages-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;
}

.personnage {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100px;
  text-align: center;
}

.flasheur {
  background-color: #ffeb3b;
}

.highlight {
  border: 2px solid #3f51b5;
}

#actions-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  margin: 10px;
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

#confirmation-message {
  color: green;
  margin-top: 10px;
}

#map-image-container {
  margin-top: 20px;
}

label {
  margin-top: 10px;
}
